{% extends 'base.html' %}

{% block content %}

    <div class="col-ms-6 mx-auto "  style="text-align: center;">
    {% if user.is_authenticated %}
    <h1>Courses</h1>
        </div>

         <form class="d-flex srch_dwn" method="POST" action="{% url 'courses_search' %}">
        {% csrf_token %}
        <label for="search_by" class="srch">Search by</label>
        <select name="search_by" id="search_by" class="srch_uid">

          <option value="course_name">Course Name</option>
          <option value="course_code">Course Code</option>
        </select>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="courses_search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>

    {% if course_records %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Duration</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for record in course_records %}
                <tr>
                    <td>{{record.code}}</td>
                    <td>{{record.name}}</td>
                    <td>{{record.duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <div class="col-ms-6 mx-auto "  style="text-align: center;">

    {% else %}

    <h1 class="text-center">Please log in to continue</h1>

    {% endif %}
    <a href = "{% url 'home' %} " class ="btn btn-dark btn1 " ><i class="bi bi-arrow-left-circle"></i> Back</a>
    <a href = "{% url 'add_course' %} " class ="btn btn-dark btn1 " ><i class="bi bi-plus-square-dotted"></i> Add Course</a>
    </div>




{% endblock %}