{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <img class="logo" src="{% static '/aicte_logo1.png' %}" alt="">
        <a class="navbar-brand ms-3 me-2" href="{% url 'home' %}">
            AICTE <i class="bi bi-house-door"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link log" href="{% url 'logout' %}"><i class="bi bi-person-circle"></i> Logout</a>
                    </li>

                    {% if request.path == '/' %}
                        <div class="container navlink ">
                        <div class="row justify-content-end">
                            <div class="col"><a class="navbar-brand " href="#about">About</a></div>
                            <div class="col"><a class="navbar-brand" href="#our_vision">Vision</a></div>
                            <div class="col"><a class="navbar-brand" href="#our_objectives">Objectives</a></div>

                        </div>
                        </div>
                    {% endif %}

                {% else %}
                    {#            <li class="nav-item">#}
                    {#              <a class="nav-link log" href="{% url 'home' %}">Login</a>#}
                    {#            </li>#}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>