{% extends 'base.html' %}

{% block content %}
    {% if colleges %}
        <h2>Colleges in {{ state }}</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">College Code</th>
                <th scope="col">College Name</th>
                <th scope="col">College Details</th>
                <th scope ='col'>List Students</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for college in colleges %}
            <tr>
                <td>{{college.code}}</td>
                <td>{{college.name}}</td>
                <td><a href="{% url 'college_details' college.code %}" class="btn btn-sm btn-secondary">College Details</a></td>
                <td><a href="{% url 'college_student' college.code %}" class="btn btn-sm btn-secondary">List Students</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No College in {{ state }}</h3>
    {% endif %}
    <div class="col-ms-6 mx-auto "  style="text-align: center;">
        <a href = "{% url 'state_page' %} " class ="btn btn-dark btn1 " ><i class="bi bi-arrow-left-circle"></i> Back</a>
    </div>
{% endblock %}