{% extends 'base.html' %}
{% block content %}
    <h1>Search</h1>
    <form class="d-flex srch_dwn" method="POST" action="{% url 'student_search' %}">
        {% csrf_token %}
        <label for="search_by" class="srch">Search by</label>
        <select name="search_by" id="search_by" class="srch_uid">

          <option value="students_uid">UID</option>
          <option value="students_aadhar">Aadhar id</option>
        </select>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="student_search">
        <button class="btn btn-secondary" type="submit">Search</button>

      </form>


{# change in div #}
    <div style="text-align: center;">
{#        <a href= "{% url 'more_search_student' %}" class="btn btn-dark btn1">More Search Options</a>#}
{#        <br>#}
        <a href= "{% url 'home' %}" class="btn btn-dark btn1"><i class="bi bi-arrow-left-circle"></i> Back</a>
        <a href = "{% url 'add_student' %} " class ="btn btn-dark btn1" ><i class="bi bi-plus-square-dotted"></i> Add Student</a>
        <a href= "{% url 'current_student' %}" class="btn btn-dark btn1">Current Student</a>
        <a href= "{% url 'old_student' %}" class="btn btn-dark btn1">Old Student</a>
    </div>
{%  endblock %}